__pycache__/

kmc_output

lkmc.exe

scan_params.txt

lkmc-wasm.wasm

lkmc-wasm.js
kmc_output/

.DS_Store

.vscode/

*.o
*.out
lkmc
null.o

kmc_output/
*.bin
*.ppm
time_series.csv
AllResults.csv

*.wasm
